@import 'style.scss';
.header-2
{
    width: 100%;
    height: 130px !important;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.menu
{
    display: flex;
    flex-wrap: nowrap;
}
.menu>div
{
    height: auto;

    border:1px solid black;
}
.menu>a
{
    color:$black;
    opacity: 0.60;
    font-size: 22px;
    margin-left:15px;    
    &:hover
    {
        text-decoration-style:solid !important;
        text-decoration-color:$bronz;
        text-decoration-line: underline;
        opacity: 1;
    }
    &:active,:visited
    {
        opacity: 1;
    }
}
.header-2>:last-child
{
    
    border:none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items:center;
}
.shop
{
    width: 35px;
    height: 35px;
    border:none;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &:hover
    {
        box-shadow: 0px 1px 0px  $black; 
    }    
}
.search
{
    @extend .shop;
    background-image: url(/img/search.png);
}
.busket 
{
    margin-left: 25px;
    @extend .shop;
    background-image: url(/img/shopping-cart.svg);
}
