@import "colors.scss";
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lora;
}
a{
    text-decoration: none;
    color:black;
}

.maket_butt
{
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border: none ;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    &:hover
    {
        box-shadow:  1px 1px 1px $black;
    }
}
.butBronz
{
@extend .maket_butt;
background-color: $bronz;
color:$black;
}
.butTrans
{
    @extend .maket_butt;
    color:$white;
    background-color:transparent;
    border:2px solid $bronz;
}
header
{   height: 1080px;
    background-image:linear-gradient(90deg, #D6CFC2 0%, rgba(255, 255, 255, 0.50) 100%);
}
header>div
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
header>div>img
{
    border:1px solid black;
    width: 10%;
}
.bilbords{
    width: 100%;
    height: 75%;
    position: relative;
    
  
}