@import 'style.scss';

.heder_1
{
    width: 100%;
    height: 100px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
}
label
{
    font-size: 22px;
    color:$black;
    text-align: center;
    font-weight: 500;
    margin-left:35px ;
}
.heder_1>:first-child
{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
}
.heder_1>:first-child>a{
   @extend label;
   &:hover
    {
        text-decoration-style:solid !important;
        text-decoration-color:$bronz;
        text-decoration-line: underline;
        opacity: 1;
    }
 &:before
{
    min-width: 100%;
    min-height: 100%;
    content: url(/img/headphone.svg);
    margin-right:10px;
}
}