@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lora;
}

a {
  text-decoration: none;
  color: black;
}

.maket_butt, .butTrans, .butBronz {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.maket_butt:hover, .butTrans:hover, .butBronz:hover {
  box-shadow: 1px 1px 1px var(--1, #34383D);
}

.butBronz {
  background-color: var(--3, #CDA861);
  color: var(--1, #34383D);
}

.butTrans {
  color: var(--2, #FFF);
  background-color: transparent;
  border: 2px solid var(--3, #CDA861);
}

header {
  background-image: linear-gradient(90deg, #D6CFC2 0%, rgba(255, 255, 255, 0.5) 100%);
}

header > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header > div > img {
  border: 1px solid black;
  width: 10%;
}

.heder_1 {
  width: 100%;
  height: 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
}

label, .heder_1 > :first-child > a {
  font-size: 22px;
  color: var(--1, #34383D);
  text-align: center;
  font-weight: 500;
  margin-left: 35px;
}

.heder_1 > :first-child {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.heder_1 > :first-child > a:hover {
  text-decoration-style: solid !important;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-line: underline;
  opacity: 1;
}
.heder_1 > :first-child > a:before {
  min-width: 100%;
  min-height: 100%;
  content: url(/img/headphone.svg);
  margin-right: 10px;
}