@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lora;
}

a {
  text-decoration: none;
  color: black;
}

.maket_butt, .butTrans, .butBronz {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.maket_butt:hover, .butTrans:hover, .butBronz:hover {
  box-shadow: 1px 1px 1px var(--1, #34383D);
}

.butBronz {
  background-color: var(--3, #CDA861);
  color: var(--1, #34383D);
}

.butTrans {
  color: var(--2, #FFF);
  background-color: transparent;
  border: 2px solid var(--3, #CDA861);
}

header {
  background-image: linear-gradient(90deg, #D6CFC2 0%, rgba(255, 255, 255, 0.5) 100%);
}

header > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header > div > img {
  border: 1px solid black;
  width: 10%;
}

.header-2 {
  width: 100%;
  height: 130px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
}

.menu > div {
  height: auto;
  border: 1px solid black;
}

.menu > a {
  color: var(--1, #34383D);
  opacity: 0.6;
  font-size: 22px;
  margin-left: 15px;
}
.menu > a:hover {
  text-decoration-style: solid !important;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-line: underline;
  opacity: 1;
}
.menu > a:active, .menu > a :visited {
  opacity: 1;
}

.header-2 > :last-child {
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
}

.shop, .busket, .search {
  width: 35px;
  height: 35px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.shop:hover, .busket:hover, .search:hover {
  box-shadow: 0px 1px 0px var(--1, #34383D);
}

.search {
  background-image: url(/img/search.png);
}

.busket {
  margin-left: 25px;
  background-image: url(/img/shopping-cart.svg);
}